.container {
    width: 90%;
    border: 1px solid rgb(231, 12, 12);
    /* margin-left: auto;
    margin-right: auto; */
}

.box-center {
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}